body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.KOR-MAIN { 
  width: 100%; 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

/* 중앙 정렬 컨테이너 */
.content-center {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  left: 0 !important;
}
 

.KOR-MAIN .PC-GNB { 
  width: 100vw;
  height: 71px;
  display: flex;
  background-color: #1a1a1a;
  position: relative;
  left: calc(-50vw + 50%);
  margin-left: 0;
  justify-content: center;
}

.KOR-MAIN .frame {
  margin-top: 24.7px;
  width: 88.5px;
  height: 19.6px;
  position: relative;
  margin-left: 39px;
}

.KOR-MAIN .div {
  display: inline-flex;
  margin-top: 21px;
  width: 205px;
  height: 26px;
  position: relative;
  margin-left: 90.5px;
  align-items: center;
}

.KOR-MAIN .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Noto Sans", Helvetica !important;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: right;
  letter-spacing: 0;
  line-height: 25.5px;
  white-space: nowrap;
}

.KOR-MAIN .frame-2 {
  display: flex;
  margin-top: 13px;
  width: 214px;
  height: 46px;
  position: relative;
  margin-left: 730px;
  align-items: center;
  justify-content: space-between;
}

.KOR-MAIN .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Noto Sans", Helvetica !important;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: right;
  letter-spacing: 0;
  line-height: 25.5px;
  white-space: nowrap;
}

.KOR-MAIN .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
  position: relative;
  flex: 0 0 auto;
  background-color: #334bff;
  border-radius: 6px;
}

.KOR-MAIN .frame-3 {
  width: 100vw;
  height: 644px;
  position: relative;
  background-color: #ffffff;
  left: calc(-50vw + 50%);
  margin-left: 0;
}

.KOR-MAIN .vector {
  position: absolute;
  top: 267px;
  left: 268px;
  width: 180px;
  height: 23px;    
}
@media (min-width: 1400px) {
  .KOR-MAIN .vector {
      left: calc((100vw - 1400px) / 2 + 77px);
  }
}

@media (min-width: 1400px) {
  .KOR-MAIN .frame-8 {
      left: calc((100vw - 1400px) / 2 + 77px);
  }
}

.KOR-MAIN .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  position: absolute;
  top: 177px;
  left: 77px;
}

@media (min-width: 1400px) {
  .KOR-MAIN .frame-4 {
    left: calc((100vw - 1400px) / 2 + 77px);
  }
}

.KOR-MAIN .frame-5 {
  display: flex;
  flex-direction: column;
  width: 438px;
  align-items: flex-start;
  gap: 17px;
  position: relative;
  flex: 0 0 auto;
}

.KOR-MAIN .text-wrapper-3 {
  align-self: stretch;
  margin-top: -1.00px;
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  position: relative;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.KOR-MAIN .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 45px;
}

.KOR-MAIN .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.KOR-MAIN .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.KOR-MAIN .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .tabler-arrow-right {
  position: relative;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.KOR-MAIN .frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 440px;
  left: 969px;
}

.KOR-MAIN .tailored-by {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 70px;
  white-space: nowrap;
}

.KOR-MAIN .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 70px;
  text-align: right;
  letter-spacing: 0;
  line-height: 70px;
  white-space: nowrap;
}

.KOR-MAIN .group {
  position: absolute;
  width: 783px;
  height: 637px;
  top: 0;
  left: 617px;
}

.KOR-MAIN .frame-9 {
  width: 100vw;
  height: 523px;
  position: relative;
  background-color: #1a1a1a;
  left: calc(-50vw + 50%);
  margin-left: 0;
}

.KOR-MAIN .frame-10 {
  display: flex;
  flex-direction: column;
  width: 309px;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 134px;
  left: 77px;
}

.KOR-MAIN .frame-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.KOR-MAIN .img {
  position: relative;
  width: 64px;
  height: 64px;
}

.KOR-MAIN .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
}

.KOR-MAIN .SEO {
  position: relative;
  align-self: stretch;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.2px;
}

.KOR-MAIN .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -0.50px;
  font-weight: 400;
  color: #05ffad;
  font-size: 13px;
  line-height: 13px;
  white-space: nowrap;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .tabler-arrow-right-2 {
  position: relative;
  width: 14px;
  height: 14px;
  aspect-ratio: 1;
}

.KOR-MAIN .text-wrapper-10 {
  position: absolute;
  top: 66px;
  left: 77px;
  white-space: nowrap;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.KOR-MAIN .frame-12 {
  display: flex;
  flex-direction: column;
  width: 309px;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 134px;
  left: 545px;
}

.KOR-MAIN .text-wrapper-11 {
  height: 150px;
  position: relative;
  align-self: stretch;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.2px;
}

.KOR-MAIN .text-wrapper-12 {
  width: fit-content;
  margin-top: -0.50px;
  color: #b0b9ff;
  font-size: 13px;
  line-height: 13px;
  white-space: nowrap;
  position: relative;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.KOR-MAIN .frame-13 {
  display: flex;
  flex-direction: column;
  width: 309px;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 134px;
  left: 1013px;
}

.KOR-MAIN .frame-14 {
  width: 100vw;
  height: 641px;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  position: relative;
  left: calc(-50vw + 50%);
  margin-left: 0;
}

.KOR-MAIN .text-wrapper-13 {
  margin-left: 77px;
  width: 146px;
  height: 30px;
  margin-top: 65px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.KOR-MAIN .text-wrapper-14 {
  margin-left: 77px;
  width: 820px;
  height: 42px;
  margin-top: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .frame-15 {
  display: inline-flex;
  margin-left: 77px;
  width: 1255px;
  height: 340.32px;
  position: relative;
  margin-top: 36px;
  align-items: flex-start;
  gap: 53px;
}

.KOR-MAIN .frame-16 {
  display: flex;
  flex-direction: column;
  width: 383px;
  align-items: flex-start;
  gap: 34px;
  position: relative;
  align-self: stretch;
}

.KOR-MAIN .group-2 {
  position: relative;
  width: 383px;
  height: 214.32px;
  background-image: url(https://c.animaapp.com/DaKYKUSd/img/-----------2025-12-28------1-48-08-1@2x.png);
  background-size: 100% 100%;
}

.KOR-MAIN .group-3 {
  position: relative;
  width: 387px;
  height: 92px;
  margin-right: -4.00px;
}

.KOR-MAIN .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .text-wrapper-16 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 383px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .frame-17 {
  display: flex;
  flex-direction: column;
  width: 383px;
  align-items: flex-start;
  gap: 29px;
  position: relative;
}

.KOR-MAIN .element {
  position: relative;
  align-self: stretch;
  width: 100%;
  aspect-ratio: 1.77;
  object-fit: cover;
  border-radius: 10px;
}

.KOR-MAIN .frame-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.KOR-MAIN .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .text-wrapper-18 {
  align-self: stretch;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.KOR-MAIN .rectangle {
  position: relative;
  width: 383px;
  height: 216px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.KOR-MAIN .frame-19 {
  width: 100vw;
  height: 493px;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  position: relative;
  left: calc(-50vw + 50%);
  margin-left: 0;
}

.KOR-MAIN .text-wrapper-19 {
  margin-left: 77px;
  width: 190px;
  height: 30px;
  margin-top: 58px;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.KOR-MAIN .text-wrapper-20 {
  margin-left: 77px;
  width: 820px;
  height: 42px;
  margin-top: 19px;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .frame-20 {
  display: inline-flex;
  margin-left: 77px;
  width: 1223px;
  height: 133px;
  position: relative;
  margin-top: 36px;
  align-items: center;
  gap: 58px;
}

.KOR-MAIN .frame-21 {
  display: flex;
  flex-direction: column;
  width: 195px;
  align-items: center;
  gap: 11px;
  position: relative;
}

.KOR-MAIN .scenario-scheme {
  position: relative;
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
}

.KOR-MAIN .text-wrapper-21 {
  position: relative;
  align-self: stretch;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .frame-22 {
  display: flex;
  flex-direction: column;
  width: 199px;
  align-items: center;
  gap: 11px;
  position: relative;
}

.KOR-MAIN .img-2 {
  position: relative;
  width: 80px;
  height: 80px;
}

.KOR-MAIN .frame-23 {
  width: 100vw;
  height: 469px;
  position: relative;
  background-color: #ffffff;
  left: calc(-50vw + 50%);
  margin-left: 0;
}

.KOR-MAIN .frame-24 {
  display: flex;
  flex-direction: column;
  width: 631px;
  align-items: flex-start;
  gap: 27px;
  position: absolute;
  top: 121px;
  left: 97px;
}

.KOR-MAIN .text-wrapper-22 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .text-wrapper-23 {
  position: relative;
  align-self: stretch;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  font-family: "Noto Sans", Helvetica;
  letter-spacing: 0;
}

.KOR-MAIN .bitcoin-icons-arrow {
  position: relative;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
}

.KOR-MAIN .group-4 {
  position: absolute;
  top: 144px;
  left: 770px;
  width: 193px;
  height: 188px;
  aspect-ratio: 1.05;
}

.KOR-MAIN .group-5 {
  position: absolute;
  top: 42px;
  left: 990px;
  width: 189px;
  height: 180px;
  aspect-ratio: 1.05;
}

.KOR-MAIN .group-6 {
  position: absolute;
  width: 185px;
  height: 180px;
  top: 264px;
  left: 994px;
  aspect-ratio: 1.03;
}

.KOR-MAIN .group-7 {
  position: absolute;
  top: 144px;
  left: 1204px;
  width: 189px;
  height: 180px;
  aspect-ratio: 1.05;
}

/* 1400px 이상에서 콘텐츠 가운데 정렬 */
@media (min-width: 1400px) {
  .KOR-MAIN .PC-GNB,
  .KOR-MAIN .frame-3,
  .KOR-MAIN .frame-9,
  .KOR-MAIN .frame-14,
  .KOR-MAIN .frame-19,
  .KOR-MAIN .frame-23 {
    position: relative;
    left: 0;
    margin-left: 0;
  }
  
  .KOR-MAIN .PC-GNB::before,
  .KOR-MAIN .frame-3::before,
  .KOR-MAIN .frame-9::before,
  .KOR-MAIN .frame-14::before,
  .KOR-MAIN .frame-19::before,
  .KOR-MAIN .frame-23::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-50vw + 50%);
    width: 100vw;
    height: 100%;
    background-color: inherit;
    z-index: -1;
  }
}
